daemonize {{ redis_config_daemonize }}
pidfile {{ redis_config_pidfile }}
port {{ redis_config_port }}
{% if not ansible_os_family == 'Debian' %}
tcp-backlog {{ redis_config_tcp_backlog }}
{% endif %}
timeout {{ redis_config_timeout }}
tcp-keepalive {{ redis_config_tcp_keepalive }}
loglevel {{ redis_config_loglevel }}
logfile {{ redis_config_logfile }}
databases {{ redis_config_databases }}
{% for v in redis_config_save -%}
save {{ v }}
{% endfor -%}
{% if redis_password %}
masterauth {{ redis_password }}
{% endif %}
{% if redis_password %}
requirepass {{ redis_password }}
{% endif %}
stop-writes-on-bgsave-error {{ redis_config_stop_writes_on_bgsave_error }}
rdbcompression {{ redis_config_rdbcompression }}
rdbchecksum {{ redis_config_rdbchecksum }}
dbfilename {{ redis_config_dbfilename }}
dir {{ redis_db_dir }}
slave-serve-stale-data {{ redis_config_slave_serve_stale_data }}
slave-read-only {{ redis_config_slave_read_only }}
{% if not ansible_os_family == 'Debian' %}
repl-diskless-sync {{ redis_config_repl_diskless_sync }}
repl-diskless-sync-delay {{ redis_config_repl_diskless_sync_delay }}
{% endif %}
repl-disable-tcp-nodelay {{ redis_config_repl_disable_tcp_nodelay }}
slave-priority {{ redis_config_slave_priority }}
appendonly "{{ redis_config_appendonly }}"
appendfilename {{ redis_config_appendfilename }}
appendfsync {{ redis_config_appendfsync }}
no-appendfsync-on-rewrite {{ redis_config_no_appendfsync_on_rewrite }}
auto-aof-rewrite-percentage {{ redis_config_auto_aof_rewrite_percentage }}
auto-aof-rewrite-min-size {{ redis_config_auto_aof_rewrite_min_size }}
{% if not ansible_os_family == 'Debian' %}
aof-load-truncated {{ redis_config_aof_load_truncated }}
{% endif %}
lua-time-limit {{ redis_config_lua_time_limit }}
slowlog-log-slower-than {{ redis_config_slowlog_log_slower_than }}
slowlog-max-len {{ redis_config_slowlog_max_len }}
{% if not ansible_os_family == 'Debian' %}
latency-monitor-threshold {{ redis_config_latency_monitor_threshold }}
{% endif %}
notify-keyspace-events "{{ redis_config_notify_keyspace_events }}"
hash-max-ziplist-entries {{ redis_config_hash_max_ziplist_entries }}
hash-max-ziplist-value {{ redis_config_hash_max_ziplist_value }}
list-max-ziplist-entries {{ redis_config_list_max_ziplist_entries }}
list-max-ziplist-value {{ redis_config_list_max_ziplist_value }}
set-max-intset-entries {{ redis_config_set_max_intset_entries }}
zset-max-ziplist-entries {{ redis_config_zset_max_ziplist_entries }}
zset-max-ziplist-value {{ redis_config_zset_max_ziplist_value }}
{% if not ansible_os_family == 'Debian' %}
hll-sparse-max-bytes {{ redis_config_hll_sparse_max_bytes }}
{% endif %}
activerehashing {{ redis_config_activerehashing }}
{% for v in redis_config_client_output_buffer_limit -%}
client-output-buffer-limit {{ v }}
{% endfor -%}
hz {{ redis_config_hz }}
aof-rewrite-incremental-fsync {{ redis_config_aof_rewrite_incremental_fsync }}
