port {{ redis_sentinel_port }}
dir {{ redis_sentinel_dir }}
#sentinel parallel-syncs {{ redis_sentinel_master_name }} 1

sentinel down-after-milliseconds {{ redis_sentinel_master_name }} {{ redis_sentinel_down_after_milliseconds }}
#sentinel parallel-syncs {{ redis_sentinel_master_name }} {{ redis_sentinel_parallel_syncs }}
## 3 min
#sentinel failover-timeout {{ redis_sentinel_master_name }} 180000
