port {{ redis_sentinel_port }}
dir {{ redis_sentinel_dir }}
logfile {{ redis_sentinel_logfile }}
protected-mode no
sentinel down-after-milliseconds {{ redis_sentinel_master_name }} {{ redis_sentinel_down_after_milliseconds }}
sentinel parallel-syncs {{ redis_sentinel_master_name }} {{ redis_sentinel_parallel_syncs }}
sentinel failover-timeout {{ redis_sentinel_master_name }} {{ redis_sentinel_failover_timeout }}
{% if redis_password %}
sentinel auth-pass {{ redis_sentinel_master_name }} {{ redis_password }}
{% endif %}
